In [2]:
import numpy as np
import pandas as pd

# write a program swap two numbers without using the third variable
Certainly! You can swap two numbers without using a third variable using arithmetic operations like addition and subtraction or bitwise XOR operation.

In [6]:
a = 10     # arithematic operator's 
b = 20

a = a + b
b = a - b
a = a - b

print("After swapping:")
print("a =", a)
print("b =", b)

After swapping:
a = 20
b = 10

In [5]:
a = 5     # Bitwise operators 
b = 10

a = a ^ b
b = a ^ b
a = a ^ b

print("After swapping:")
print("a =", a)
print("b =", b)

After swapping:
a = 10
b = 5

# Write a program reverse the string
This program defines a function reverse_string that takes an input string and returns its reverse by utilizing Python's slicing feature

In [8]:
def reverse_string(s):   # using def function
    return s[::-1]

# Test the function
original_string = "hello"
reversed_string = reverse_string(original_string)
print("Original string:", original_string)
print("Reversed string:", reversed_string)

Original string: hello
Reversed string: olleh

In [11]:
a=['prakash','ashutosh','viswajit','adarsh']    # using simple create the list and use reverse
a.reverse()
a

['adarsh', 'viswajit', 'ashutosh', 'prakash']

# write a program reverse numberm
This program defines a function reverse_number that takes a number as input and returns its reverse.

In [13]:
def reverse_number(num):     # using def function
    reversed_num = 0
    while num != 0:
        digit = num % 10
        reversed_num = reversed_num * 10 + digit
        num //= 10
    return reversed_num

# Test the function
number = 12345
reversed_number = reverse_number(number)
print("Original number:", number)
print("Reversed number:", reversed_number)

Original number: 12345
Reversed number: 54321

In [15]:
a=[10,20,30,40,50,60,70,80,90,95,110]        # using create the list and use reverse
a.reverse() 
a

[110, 95, 90, 80, 70, 60, 50, 40, 30, 20, 10]

# Write a program palindrome number
This program defines a function is_palindrome that takes a number as input, converts it to a string, and checks if the string is equal to its reverse. If they are equal, the number is a palindrome; otherwise, it's not.

In [17]:
def is_palindrome(num):     # here's a Python program to check if a number is a palindrome
    original_num = num
    reversed_num = 0
    
    while num > 0:
        digit = num % 10
        reversed_num = reversed_num * 10 + digit
        num //= 10
    
    return original_num == reversed_num

# Test the function
number = 12321
if is_palindrome(number):
    print(number, "is a palindrome.")
else:
    print(number, "is not a palindrome.")

12321 is a palindrome.

In [29]:
num=1221

temp=num

rev=0

while (num>0):
    rem=num%10
    rev=rev*10+rem
    # use to add digit in last suppose in 34 we want
    # to make 345 then what we do multiply by 10 then add 5
    
    num=num//10 # use to access quotient
    
print(rev)
print(temp)

if temp==rev:
    print('palindrome')
    print('not palindrome')

1221
1221
palindrome
not palindrome

In [34]:
# Take input from the user
num = int(input("Enter a number: "))

# Store a copy of the original number
original_num = num

# Initialize a variable to store the reversed number
reversed_num = 0

# Reverse the number
while num > 0:
    digit = num % 10
    reversed_num = (reversed_num * 10) + digit
    num = num // 10

# Check if the original number is equal to its reverse
if original_num == reversed_num:
    print(original_num, "is a palindrome number.")
else:
    print(original_num, "is not a palindrome number.")

Enter a number:  12321

12321 is a palindrome number.

# Write a proogram find max number in a array
This program defines a function find_max that takes an array as input and iterates through it to find the maximum number.

In [18]:
def find_max(arr):
    if not arr:  # If the array is empty
        return None
    
    max_num = arr[0]  # Assume the first element is the maximum
    
    # Iterate through the array to find the maximum
    for num in arr:
        if num > max_num:
            max_num = num
    
    return max_num

# Example usage
array = [3, 7, 2, 9, 5]
max_number = find_max(array)
print("The maximum number in the array is:", max_number)

The maximum number in the array is: 9

In [19]:
# Example array     # without using the array function
array = [3, 7, 2, 9, 5]

# Initialize max_num with the first element of the array
max_num = array[0]

# Iterate through the array starting from the second element
for num in array[1:]:
    if num > max_num:
        max_num = num

print("The maximum number in the array is:", max_num)

The maximum number in the array is: 9

# Write a program find secound max number in array
his code iterates through the array starting from the third element. It initializes max_num with the maximum of the first two elements and second_max with the minimum of the first two elements

In [21]:
# Example array
array = [3, 7, 2, 9, 5]

# Initialize max_num and second_max with the first two elements of the array
max_num = max(array[0], array[1])
second_max = min(array[0], array[1])

# Iterate through the array starting from the third element
for num in array[2:]:
    if num > max_num:
        second_max = max_num
        max_num = num
    elif num > second_max:
        second_max = num

print("The second maximum number in the array is:", second_max)

The second maximum number in the array is: 7

In [23]:
# Example array      # small code
array = [3, 7, 2, 9, 5]

# Sort the array in descending order
array.sort(reverse=True)

# The second maximum number will be at index 1
second_max = array[1]

print("The second maximum number in the array is:", second_max)

The second maximum number in the array is: 7

# Fibonacci Series i/p=7  o/p=0,1,1,2,3,5,8
This program defines a function fibonacci_series that takes an input number n and generates the Fibonacci series up to that number

In [26]:
def fibonacci_series(n):
    # Initialize the first two Fibonacci numbers
    fib_series = [0, 1]
    
    # Generate the Fibonacci series up to n
    while fib_series[-1] + fib_series[-2] <= n:
        fib_series.append(fib_series[-1] + fib_series[-2])
    
    return fib_series

# Example usage
input_number = 8
fib_series = fibonacci_series(input_number)
print("Fibonacci series up to", input_number, ":", fib_series)

Fibonacci series up to 8 : [0, 1, 1, 2, 3, 5, 8]

In [28]:
def fib(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)
 
 
for i in range(7):
    print(fib(i), end=" ")

0 1 1 2 3 5 8

# Write a program given number prime or no

In [42]:
num=int(input('enter a number :'))
flag=0
for i in range(2,num):
    if num%i==0:
        flag=flag+1
if flag ==0:
    print('Its prime number')
else:
    print('not prime')

enter a number : 7

Its prime number

# Write a program display prime number between 1 to 100
This program defines a function is_prime() to check if a number is prime or not. Then, it iterates through numbers from 1 to 100 and prints those which are prime.

In [88]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

print("Prime numbers between 1 and 100 are:")
for number in range(1, 101):
    if is_prime(number):
        print(number)

Prime numbers between 1 and 100 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [89]:
print("Prime numbers between 1 and 100 are:")      # small code
for num in range(2, 101):
    if all(num % i != 0 for i in range(2, int(num**0.5) + 1)):
        print(num)

Prime numbers between 1 and 100 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Write a program in an array 1 to 20 number are stored in random one number is missing find missing number 
[5,7,6,8,11,10,14,2,3,4,20,18,17,13,12,16,1,9,19]   # o/p is 15

In [91]:
numbers = [5, 7, 6, 8, 11, 10, 14, 2, 3, 4, 20, 18, 17, 13, 12, 16, 1, 9, 19]       # small code
missing_number = sum(range(1, 21)) - sum(numbers)
print("The missing number is:", missing_number)

The missing number is: 15

In [90]:
# Given array
numbers = [5, 7, 6, 8, 11, 10, 14, 2, 3, 4, 20, 18, 17, 13, 12, 16, 1, 9, 19]

# Calculate the sum of numbers from 1 to 20
total_sum = sum(range(1, 21))

# Calculate the sum of numbers in the given array
array_sum = sum(numbers)

# Find the missing number
missing_number = total_sum - array_sum

print("The missing number is:", missing_number)

The missing number is: 15

# write a program find max occurring word in given string
string='good morning good evaning good afternoon'  (o/p is 3 times good)

In [93]:
string = 'good morning good evening good afternoon'

# Split the string into words
words = string.split()

# Count occurrences of each word using a dictionary
word_count = {}
for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

# Find the word with the maximum occurrence
max_word = max(word_count, key=word_count.get)

print("The word with the maximum occurrence is:", max_word)
print("It occurs", word_count[max_word], "times.")

The word with the maximum occurrence is: good
It occurs 3 times.

In [94]:
from collections import Counter

string = 'good morning good evening good afternoon'
word_count = Counter(string.split())
max_word = max(word_count, key=word_count.get)

print("The word with the maximum occurrence is:", max_word)
print("It occurs", word_count[max_word], "times.")

The word with the maximum occurrence is: good
It occurs 3 times.

# Write a program fing max occuring charector in a given string
string='apple'  (o/p is p)

In [95]:
string = 'apple'

# Count occurrences of each character using a dictionary
char_count = {}
for char in string:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

# Find the character with the maximum occurrence
max_char = max(char_count, key=char_count.get)
max_count = char_count[max_char]

print("The character with the maximum occurrence is:", max_char)
print("It occurs", max_count, "times.")

The character with the maximum occurrence is: p
It occurs 2 times.

In [96]:
from collections import Counter

string = 'apple'
char_count = Counter(string)
max_char = max(char_count, key=char_count.get)
max_count = char_count[max_char]

print("The character with the maximum occurrence is:", max_char)
print("It occurs", max_count, "times.")

The character with the maximum occurrence is: p
It occurs 2 times.

# Write a program print 1 to 100 number if number divided by 3 or 5 but not both

In [97]:
for number in range(1, 101):
    if (number % 3 == 0 or number % 5 == 0) and not (number % 3 == 0 and number % 5 == 0):
        print(number)

3
5
6
9
10
12
18
20
21
24
25
27
33
35
36
39
40
42
48
50
51
54
55
57
63
65
66
69
70
72
78
80
81
84
85
87
93
95
96
99
100

# Write a program find number of days between two date

In [98]:
from datetime import datetime

def days_between_dates(date1, date2):
    # Convert the date strings to datetime objects
    date1_obj = datetime.strptime(date1, '%Y-%m-%d')
    date2_obj = datetime.strptime(date2, '%Y-%m-%d')

    # Calculate the difference between the dates
    delta = abs(date2_obj - date1_obj)

    # Return the number of days as an integer
    return delta.days

# Example usage:
date1 = '2024-06-01'
date2 = '2024-07-01'
print("Number of days between", date1, "and", date2, ":", days_between_dates(date1, date2))

Number of days between 2024-06-01 and 2024-07-01 : 30

In [99]:
from datetime import datetime

date1 = '2024-06-01'
date2 = '2024-07-01'

days_between = (datetime.strptime(date2, '%Y-%m-%d') - datetime.strptime(date1, '%Y-%m-%d')).days
print("Number of days between", date1, "and", date2, ":", days_between)

Number of days between 2024-06-01 and 2024-07-01 : 30

# Write a program addition number in single digit 
a=567 o/p is 5+6+7=18=1+8=9 o/p is 9

In [2]:
def digit_sum(num):
    # Convert the number to a string to easily access each digit
    num_str = str(num)
    
    # Initialize the sum
    total = sum(int(digit) for digit in num_str)
    
    # Repeat the process until total is a single digit
    while total >= 10:
        total = sum(int(digit) for digit in str(total))
    
    return total

# Example usage:
number = 567
result = digit_sum(number)
print("The single digit addition of", number, "is:", result)

The single digit addition of 567 is: 9

In [3]:
num = 567      # small code
while num >= 10:
    num = sum(int(digit) for digit in str(num))
print("The single digit addition is:", num)

The single digit addition is: 9

# Write a program sort array in ascending order
array=[5,3,4,2,1]       o/p is 1,2,3,4,5

In [4]:
array = [5, 3, 4, 2, 1]     # small code
sorted_array = sorted(array)
print("Sorted array in ascending order:", sorted_array)

Sorted array in ascending order: [1, 2, 3, 4, 5]

In [63]:
# mylist=[2,5,7,5,3,4,5,2]

def duplicate(mylist):
    empty=[]
    ass=[]
    
    for i in mylist:
        if i not in empty:
            empty.append(i)
            
    while empty:
        minimum=empty[0]
        for i in empty:
            if i <minimum:
                minimum=i
        ass.append(minimum)
        empty.remove(minimum)
    return ass

In [65]:
duplicate([5,3,4,2,1])

[1, 2, 3, 4, 5]

# Write a program factorial numberin recursive

In [5]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

# Example usage:
number = 5
result = factorial(number)
print("The factorial of", number, "is:", result)

The factorial of 5 is: 120

In [7]:
def factorial(x):    # recursive functions
    if x == 0:
        return 1
    else:
        return x * factorial(x-1)

In [84]:
factorial(10)

3628800

In [70]:
def fact(num):     # factorial series
    if num<0:
        return 'number invalid'
    elif num==1:
        return 1
    elif num==0:
        return 0
    else:
        return num *fact(num-1)
# find the factorial Series
for i in range(5):
    print(fact(i))

0
1
2
6
24

# Write a program find perfect number given number is perfect or not

In [8]:
def is_perfect_number(number):
    divisor_sum = sum([divisor for divisor in range(1, number) if number % divisor == 0])
    return divisor_sum == number

# Example usage:
number = 28
if is_perfect_number(number):
    print(number, "is a perfect number.")
else:
    print(number, "is not a perfect number.")

28 is a perfect number.

In [11]:
number = 28
divisor_sum = sum(divisor for divisor in range(1, number) if number % divisor == 0)
print("Yes" if divisor_sum == number else "No")

Yes

# Write a program Display reverse word
a='my name is don'  o/p is don is name my

In [14]:
a = 'my name is don'

# Split the string into words, reverse their order, and join them back together
reversed_string = ' '.join(reversed(a.split()))

print("Reversed words:", reversed_string)

Reversed words: don is name my

In [13]:
a = 'my name is don'
reverse_words = ' '.join(word[::-1] for word in a.split())
print("Reversed words:", reverse_words)

Reversed words: ym eman si nod

# Write a program check given number is armstrong or not
The is_armstrong() function takes an integer number as input.
It converts the number to a string to count its digits and iterate over its digits.
It computes the sum of each digit raised to the power of the total number of digits.
If the sum equals the original number, it returns True, indicating that the number is an Armstrong number.

In [15]:
def is_armstrong(number):
    num_str = str(number)
    num_digits = len(num_str)
    armstrong_sum = sum(int(digit)**num_digits for digit in num_str)
    return armstrong_sum == number

# Example usage:
number = 153
if is_armstrong(number):
    print(number, "is an Armstrong number.")
else:
    print(number, "is not an Armstrong number.")

153 is an Armstrong number.

In [17]:
number = 153       # small code
armstrong_sum = sum(int(digit) ** len(str(number)) for digit in str(number))
print("Yes" if armstrong_sum == number else "No")

Yes

#  Write a program display count of each element in array

In [18]:
from collections import Counter

# Example array
array = [1, 2, 3, 1, 2, 1, 3, 4, 5, 4, 3, 2, 1]

# Count the occurrences of each element
element_count = Counter(array)

# Display the count of each element
for element, count in element_count.items():
    print(f"Element {element} occurs {count} times.")

Element 1 occurs 4 times.
Element 2 occurs 3 times.
Element 3 occurs 3 times.
Element 4 occurs 2 times.
Element 5 occurs 1 times.

In [19]:
array = [1, 2, 3, 1, 2, 1, 3, 4, 5, 4, 3, 2, 1]
element_count = {x: array.count(x) for x in array}
print(element_count)

{1: 4, 2: 3, 3: 3, 4: 2, 5: 1}

# Write a program given array and display unique value in array 
array=[1,4,3,6,4,7,5,2,3,7]    o/p [1,6,5,2]

In [21]:
array = [1, 4, 3, 6, 4, 7, 5, 2, 3, 7]
unique_values = []

for element in array:
    if element not in unique_values:
        unique_values.append(element)

print("Unique values in the array:", unique_values)

Unique values in the array: [1, 4, 3, 6, 7, 5, 2]

# Write a program remove duplicate from array
array=[1,2,3,2,3]    o/p [1,2,3]

In [23]:
array = [1, 2, 3, 2, 3]
unique_array = list(set(array))
print("Array with duplicates removed:", unique_array)

Array with duplicates removed: [1, 2, 3]

# Write a program diisplay number in word (no is less then 9999)
a=4623   o/p is four thousend six hundred twenty three

In [28]:
def number_to_words(number):
    ones = ['', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
    teens = ['', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen']
    tens = ['', 'ten', 'twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety']

    if number == 0:
        return 'zero'

    thousands = ones[number // 1000] + ' thousand '
    hundreds = ones[number // 100 % 10] + ' hundred '
    tens_and_ones = (teens[number % 100 - 10] if 10 <= number % 100 <= 19 
                     else tens[number % 100 // 10] + ' ' + ones[number % 10]) if number % 100 != 0 else ''
    
    return thousands + hundreds + tens_and_ones

# Example usage:
number = 4623
print("Number in words:", number_to_words(number))

Number in words: four thousand six hundred twenty three

In [31]:
number = 4623       # without def function

ones = ['', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
teens = ['', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen']
tens = ['', 'ten', 'twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety']

if number == 0:
    print('zero')

thousands = ones[number // 1000] + ' thousand '
hundreds = ones[number // 100 % 10] + ' hundred '
tens_and_ones = (teens[number % 100 - 10] if 10 <= number % 100 <= 19
                 else tens[number % 100 // 10] + ' ' + ones[number % 10]) if number % 100 != 0 else ''

print(thousands + hundreds + tens_and_ones)

four thousand six hundred twenty three

# Write a program pattern printing pascale trangle

In [32]:
def print_pascals_triangle(num_rows):
    triangle = []
    for i in range(num_rows):
        row = [1] * (i + 1)
        for j in range(1, i):
            row[j] = triangle[i-1][j-1] + triangle[i-1][j]
        triangle.append(row)

    # Print Pascal's triangle
    for row in triangle:
        print(' '.join(map(str, row)).center(num_rows*3))

# Example usage:
num_rows = 5
print("Pascal's Triangle:")
print_pascals_triangle(num_rows)

Pascal's Triangle:
       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1

In [34]:
def print_pascals_triangle(num_rows):
    row = [1]
    for _ in range(num_rows):
        print(' '.join(map(str, row)).center(num_rows*3))
        row = [1] + [row[i] + row[i+1] for i in range(len(row) - 1)] + [1]

# Example usage:
num_rows = 4
print("Pascal's Triangle:")
print_pascals_triangle(num_rows)

Pascal's Triangle:
     1
    1 1
   1 2 1
  1 3 3 1

In [35]:
def print_pascals_triangle(num_rows):
    row = [1]
    for _ in range(num_rows):
        print(' '.join(map(str, row)).center(num_rows*3))
        row = [1] + [row[i] + row[i+1] for i in range(len(row) - 1)] + [1]

# Example usage:
num_rows = 5
print("Pascal's Triangle:")
print_pascals_triangle(num_rows)

Pascal's Triangle:
       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1

# Calendar

In [86]:
import calendar
year=2022
month=12
date=23
print(calendar.month(year,month,date))

                                                                             December 2022
         Monday                 Tuesday                Wednesday                Thursday                 Friday                 Saturday                 Sunday
                                                                                    1                       2                       3                       4
            5                       6                       7                       8                       9                      10                      11
           12                      13                      14                      15                      16                      17                      18
           19                      20                      21                      22                      23                      24                      25
           26                      27                      28                      29                      30                      31